@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme inline {
    --color-white: #F6F9EA;
    --color-title: #A9B1D6;
    --color-text: #848BAC;
    --color-text-light: #F6F9EA;
    --color-secondary: #202330;
    --color-primary: #4E5579;
    --color-yellow: #C0A578;
    --color-green: #85C078;
    --color-red: #C07878;
    --color-blue: #78BDC0;
    --color-violet: #A878C0;
}

body {
    font-family: Nunito, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url('/phone-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
